/* Theme ONE */
:root {
    font-size: 16px;

    /* Colors */
    --red: #ff0000;
    --green: #00ff00;
    --blue: #0000ff;
    --peach: #ffcccb;
    --pink: #ff69b4;

    /* Tones */
    --light-1: #f6f6f6;
    --light-2: #e9e9e9;
    --dark-1: #0a0a0a;
    --gray-50: #f6f6f650;

    /* Color names */
    --error-color: var(--red);
    --success-color: var(--green);
    --info-color: var(--blue);
    --warning-color: var(--peach);
    --accent-color: var(--pink);
    --text-color: var(--dark-1);
    --text-color-light: var(--light-2);
    --background-color-light: var(--light-1);
    --background-menu: var(--green);

    --theme-bg: red;

    /* Pixel values */
    /* Absolute values */
    --p-2: 2px;
    --p-4: 4px;
    --p-8: 8px;
    --p-16: 16px;
    /* Relative values */
    /* Spacing & Sizing */
    --xs: 0.25rem;
    --sm: 0.5rem;
    --md: 1rem;
    --lg: 2rem;

    /* Text sizes */
    --text-xs: 0.75em;
    --text-sm: 0.875em;
    --text-md: 1em;
    --text-lg: 1.5em;
    --text-xl: 2em;
}