/* Defaults */
:root {
    font-size: 16px;

    /* Colors */
    --red: #971e4b;
    --green: rgb(24, 229, 24);
    --blue: #A2D2FFFF;
    --peach: #FFC8DDFF;
    --pink: #FF6BA1;
    /* Tones */
    --light-1: #f9f9f9;
    --light-2: #f1f1f1;
    --dark-1: #0d0d0d;
    --gray-50: #f9f9f950;

    /* Color names */
    --error-color: var(--red);
    --success-color: var(--green);
    --info-color: var(--blue);
    --warning-color: var(--peach);
    --accent-color: var(--pink);
    --text-color: var(--dark-1);
    --text-color-light: var(--light-2);
    --background-color-light: var(--light-1);

    /* Pixel values */
    /* Absolute values */
    --p-2: 2px;
    --p-4: 4px;
    --p-8: 8px;
    --p-16: 16px;
    /* Relative values */
    /* Spacing & Sizing */
    --xs: 0.25rem;
    --sm: 0.5rem;
    --md: 1rem;
    --lg: 2rem;

    /* Text sizes */
    --text-xs: 0.75em;
    --text-sm: 0.875em;
    --text-md: 1em;
    --text-lg: 1.5em;
    --text-xl: 2em;
}

