* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: linear-gradient(90deg, rgba(205, 180, 219, 1) 3%, rgba(255, 200, 221, 1) 50%, rgba(162, 210, 255, 1) 100%);
  --text: #F9f9f9;
  --nav-background: #FF6BA1;
  --outputBackground: #f9f9f950;
  --outputText: #971e4b;
}

.darkTheme {
}


ul {
  list-style: none;
}


.App {
  height: 100vh;
  background: var(--background);
  color: var(--text);
  text-align: center;
}

.main-content {
  margin-top: 2rem;
  background: var(--mainBackground);
}